<div class="wrapper" style="display: flex;width: 90%;">
    <nav id="sidebar" style="width: 30%; margin-top: 2%; margin-left: 10%;">
            {% for article in ArticlesTitre %}
                <button type="button" class="btn btn-default" style="width: 50%;padding: 10px;"><a
                        href="#">{{ article.titre }}</a></button><br>
            {% endfor %}
    </nav>
    <div id="content" style="width: 90%;">
        <h1>{{ ArticlesContenu.titre }}</h1>
        <p>{{ ArticlesContenu.contenu }}</p>
    </div>
</div>
