<div class="wrapper" style="display: flex;width: 90%;">
    <nav id="sidebar" style="width: 30%;">
        <ul style="list-style: none;">
            INTRODUCTION
            <li class="active">
                <a href="#notreIdentite">Notre Identité</a>
                <ul id="notreIdentite">
                    <li>
                        <a href="#notreIdentite">De la ratatouille aux croissants</a>
                    </li>
                </ul>
            </li>
            <br>
            ELEMENTS BASIQUES
            <li>
                <a href="#marqueLogo">Marque et logo</a>
            </li>
            <li>
                <a href="#colors">Colors</a>
            </li>
            <li>
                <a href="#polices">Polices de caractère</a>
            </li>
            <li>
                <a href="#icones">Icônes</a>
            </li>
            <li>
                <a href="#grille">Grille</a>
            </li>
            <br>
            LANGAGE VISUEL
            <li>
                <a href="#photo">Photographies</a>
            </li>
            <li>
                <a href="#video">Video</a>
            </li>
        </ul>
    </nav>
    <div id="content" style="width: 90%;">
        <div id="notreIdentite">
            IDENTITE
        </div>
        <div id="marqueLogo">
            Marque et Logo
        </div>
        <div id="colors">
            Colors
        </div>
        <div id="polices">
            Polices
        </div>
        <div id="icones">
            Icones
        </div>
        <div id="grille">
            Grille
        </div>
        <div id="photo">
            Photo
        </div>
        <div id="video">
            Video
        </div>
    </div>
</div>